<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/myCss.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <title>Column Grid</title>

</head>
<body id="topdis">
<div ></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/vegan">Vegan Scones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/garlic">Garlic</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rowgrid">Row Grid</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/columngrid">Column Grid</a>
        </li>

    </ul>
</nav>
<div class="Conmargin">
<div class="container">
    <h1>One equal width columns</h1><br/>

    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">

        </div>
        <div class="col-sm-4" style="background-color:lavender;"><span id="veganpic">Have a nice trip!</span>

            <img src="/images/autumnsheep.jpg" alt="vegan" width=400 height=300/>
        </div>
        <div class="col-sm-4" style="background-color:lavender;">

        </div>
    </div>
</div>
</div>
    <br/>
<div class="Conmargin">
    <div class="container">

        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">

            </div>
            <div class="col-sm-4" style="background-color:lavender;">

                <p id="onecolumnp">Do you plan to have a farm trip?</p>
            </div>
            <div class="col-sm-4" style="background-color:lavender;">

            </div>
        </div>
    </div>
</div>
<br/>
<div class="Conmargin">
    <div class="container">

        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">

            </div>
            <div class="col-sm-4" style="background-color:lavender;">

                <p id="onecolumn">
                    Visiting a working farm can be a wonderful family activity, educational and entertaining for children and adults alike. To help ensure that yours is a successful trip, we offer the following advice.

                </p>
            </div>
            <div class="col-sm-4" style="background-color:lavender;">

            </div>
        </div>
    </div>
</div>
<br/>


</body>
</html>