<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/myCss.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <title>Row Grid</title>

</head>
<body id="topdis">
<div ></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/vegan">Vegan Scones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/garlic">Garlic</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/rowgrid">Row Grid</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/columngrid">Column Grid</a>
        </li>

    </ul>
</nav>

    <h1 class="demo">Row Grid</h1>
    <!--    <img class="images" th:src="@{/images/autumnsheep.jpg}" alt="Autumn Sheep" width=400 height=300/>-->
<!--    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">-->

<div class="container">
    <h1>Three equal width columns</h1><br/>

    <div class="row">
        <div class="col" style="background-color:lavender;"><span id="veganpic">Make vegan scones</span>

            <img src="/images/vegan.jpg" alt="vegan" width=400 height=300/>
        </div>
        <div class="col" style="background-color:orange;">
            <p class="column2">Ready for making vegan scones?</p>
        </div>
        <div class="col" style="background-color:lavender;">
        <ul>
            <li>3 3/4 cups (475 g) of self-raising flour</li>
            <li>1/4 cup (50 g) of granulated or caster sugar</li>
            <li>1/2 teaspoon (3 g) of salt</li>
            <li>6 tablespoons (84 g) of vegan butter or scoopable coconut oil</li>
            <li>3⁄4 to 1 cup (180 to 240 ml) of plain dairy-free milk</li>
            <li>1 tablespoon (15 ml) of vinegar</li>
        </ul>
            <p>Makes 15 scones</p>
        </div>
    </div> <br/>

    <div class="row">
        <div class="col" style="background-color:lavender;"><span id="veganpic">Plant garlic</span>

            <img src="/images/garlic.jpg" alt="vegan" width=400 height=300/>
        </div>
        <div class="col" style="background-color:lightpink;">
            <p class="column2">How to plant garlic?</p>
        </div>
        <div class="col" style="background-color:lavender;">
            <ul>
                <br/>

                <li><b>Find a well-lit bed of soil where you can plant your garlic. </b>If you do not have space to grow garlic outside, you should be able to find soil, planting containers, and other garden supplies at any store that sells gardening tools (i.e, Walmart, Lowes).</li>

                <li><b>Pull out all weeds from the soil.</b>Weeds will steal valuable nutrients from the growing garlic, which may have a negative effect on the crop's quality. Adding mulch later on will help to keep any weeds from growing around the garlic plants</li>
                <li>It does not matter how much compost you use, as long as it is evenly spread throughout the soil.</li>
                <li>There are free tools online that can help you figure out how much compost you should use given the size of your garden.</li>
                <li>You can use a large bucket to compile your compost. Any fluid that comes from the composting process is referred to as tea</li>

            </ul>

        </div>
    </div> <br/>
</div>



<br/><br/>


</body>
</html>